
.main_desc{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    .conent_maindesc__container{
        .desc{
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-width: 550px;
            h1{
                font-family: 'Galien';
                font-size: 64px;
                line-height: 74px;
                letter-spacing: 0.04em;
                color: #1F3F68;
            }
            h4{
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #1F3F68;  
                opacity: 0.6;
            }
            .btn{
                width: 100%;
                margin-top: 71px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a{
                    font-family: 'Gilroy';
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: 0.04em;
                    color: #FFFFFF;
                    border-radius: 10px;
                    background: #5A98D0;
                    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
                    padding: 15px 48px;
                }
            }
        }
        z-index: 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .illustration{
            z-index: 90px;
            position: relative;
            left: -90px;
            // left: 520px;
            
        }
    }
}

.header_container{
    width: 100%;
    .img_container{
        width: 10%;
        display: flex;
        justify-content: center;
    }
}

.clientHelp{
    margin-top: 180px;
    margin-bottom: 220px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .left_sec{
        .legend{
            font-size: 24px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #316099;
            margin-bottom: 158px;
        }
        .card{
            margin-left: 86px;
            .avatar{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
    .card{
        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        padding: 20px 50px;
        .avatar{
            margin-top: 70px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
        .desc1{
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #1F3F68;
            margin-bottom: 20px;
        }
        .desc2{
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #1F3F68;
            opacity: 0.6;
            margin-bottom: 40px;
        }
        .learn_more{
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #5A98D0;
            display: flex;
            align-items: center;
            img{
                margin-left: 7px;
            }
        }
    }
    .right_sec{
        margin-left: 100px;
        .card1{
            margin-bottom: 100px;
        }
    }
}

.modal{
    overflow: initial;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    .modal_box{
        margin: 30px 15px; 
        max-width: 500px;
        padding: 45px;
        z-index: 1;
        background-color: white;
        display: grid;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        transform: scale(0);
        transition: transform .8s;
    }
    
    form{
        legend{
            margin-bottom: 40px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #1F3F68;
        }
        display: flex;
        flex-direction: column;
        label{
            h5{
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
            }
            opacity: 0.8;
            display: flex;
            flex-direction: column;  
            .email.error {
                border-color: red;
            }
            .nick.error{
                border-color: red;
            }
            .area.error{
                border-color: red;
            }
            .email::placeholder {
                color: #ccc;
            }
            input{
                padding: 20px 40px;
                opacity: 0.4;
                border: 1px solid #356EAD;
                border-radius: 10px;
                min-width: 400px;
                margin-bottom: 10px;
            } 
            .area{
                padding-bottom: 100px;
            }
            input[placeholder]{
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.2;
            }
        }
        .btn_form{
            width: 100%;
            button{
                width: 100%;
                margin-top: 72px;
                padding: 15px 20px;
                background: #5A98D0;
                box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                border-radius: 10px;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #FFFFFF;
            }
        }
        
    }
}

.modal.open .modal_box{
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal.open{
    width: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    overflow: initial;
}

.modalConfirm{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    .modalConfrim_box{
        margin: 30px 15px; 
        max-width: 500px;
        padding: 45px;
        z-index: 1;
        background-color: white;
        display: grid;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        transform: scale(0);
        transition: transform .8s;
        .message{
            font-size: 34px;
                line-height: 74px;
                letter-spacing: 0.04em;
                color: #111418;
        }
    }
    
}

.modalConfirm.open .modalConfrim_box{
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalConfirm.open{
    width: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}


.closeSpanDiv{
    position: relative;
    right: -30px;
    top: -30px;
    z-index: 110;
    width: 100%;
    display: flex ;
    align-items: flex-end;
    justify-content: flex-end ;
    .spanClose:after{
        transform: rotate(0deg);
        transition: 0.4s;
    }
    .spanClose::before{
        transform: rotate(0deg);
        transition: 0.4s;
    }
    span{
        width: 60px;
        cursor: pointer;
        height: 60px;
        display: flex;
        border-radius: 1em;
        margin-top: 10px;
    }
    span::after{
        position: relative;
        display: block;
        left: 28px;
        top: 10px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: rgb(241, 233, 233);
    }
    span::before {
        position: relative;
        display: block;
        top: 10px;
        left: 30px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: rgb(241, 233, 233);
    }
    span:before {
        transform: rotate(45deg);
    }
    span:after {
        transform: rotate(-45deg);
    }
}
