@media (max-width: 1390px){
    .main_desc{
        .conent_maindesc__container{
            flex-direction: column !important;
            .illustration{
                left: 0;
                margin-top: 60px;
            }
        }
    }
}


@media (max-width: 1240px){
    .background_clients{
        .background{
            .talk__container{
                flex-direction: column;
                justify-content: center !important; 
                align-items: center;
                .desc{
                    width: 100%;
                    text-align: center;
                }
                .btn_talk{
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    margin-top: 30px;
                    width: 100%;
                }
            }
        }
    }
}


@media (max-width: 1100px)  {
    .background_clients{
        width: 100%;
        .desc{
            .our{
                width: 100%;
                text-align: center;
            }
        }
    }
    .background{
        .talk{
            left: 0;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }
    .footer__container{
        left: 0 !important;
    }
}

@media (max-width: 935px) {
    .footer__container{
        width: 100%;
        padding-left: 40px;
    }
}

@media (max-width: 935px) {
    .clientHelp{
        margin: 20px;
        .left_sec{
            .legend{
                h1{
                    font-size: 36px !important;
                }
            }
            .card{
                margin: 0;
                margin-right: 20px;
            }
        }
        .right_sec{
            margin-left: 0;
        }
    }
    .background{
        .talk__container{
            width: 100%;
        }
        .talk{

            flex-direction: column;
        }
    }
    .background_clients{
        width: 100%;
    }
    .logo_clients{
        .logo__container{
            
        }
        display: flex;
        justify-content: center !important;
        .desc{
            width: 100%;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            .our{
                margin-right: 0 !important;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 60px;
            }
            .second_desc{
                width: 80%;
                padding: 0px 20px;
            }
        }
        .square_logo__container{
            width: 70%;
            .logoSection{
            }
            .sec2,.sec6{
                border-right: none !important;
                border-bottom: 1px solid #FFFFFF;
            }
            .sec5{
                border-bottom: 1px solid #FFFFFF;
            }
        }
    }
    .background{

    }
}

@media (max-width: 800px) {
    .conent_maindesc__container{
        .illustration{
            display: flex;
            justify-content: center;
            img{
                max-width: 80%;
            }
        }
    }
    .clientHelp{
        margin-bottom: 100px;
        .legend{
            margin-bottom: 40px !important;
        }
        .card{
            min-width: 330px;
        }
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        .left_sec{
            align-items: center !important;
            justify-content: center !important;
            .card{
                padding: 20px 50px;
            }
        }
        .right_sec{
            margin-top: 100px;
            align-items: center !important;
            justify-content: center !important;
        }
    }
    .footer__container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center !important;
        width: 100% !important;
        padding-left: 0 !important;
        .leftMain_block{
            .img_container{
                text-align: center;
                justify-content: center;
            }
            max-width: none !important;
            width: 90% !important;
            margin-right: 0 !important;
            margin-bottom: 0px;
            margin-right: 0;
            padding-left: 0;
        }
        .seconds_blocks{
            width: 100% !important;
            margin-right: 0 !important;
            justify-content: space-around !important;
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 630px) {
    .conent_maindesc__container{
        .desc{
            width: 100% !important;
            text-align: center;
            h1{
                padding: 0px 20px;
                font-size: calc(16px + 48 * (100vw / 1200)) !important
            }
            h4{
                padding: 0px 20px;
                font-size: calc(12px + 4 * (100vw / 1200)) !important
            }
            .btn{
                display: flex;
                justify-content: center !important;
            }
        }
    }
    .square_logo__container{
        width: 40% !important;
        .sec1,.sec3,.sec5,.sec7{
            border-right: none !important;
        }
        .sec7{
            border-bottom: 1px solid #FFFFFF;
        }
    }
}

@media (max-width: 400px) {
    .logo_clients{
        .our{
            font-size: 28px !important;
            width: 40% !important;
            padding: 0px 20px;
            white-space: nowrap;
        }
    }
    .clientHelp{
        justify-content: center !important;
        margin: 0;
        .left_sec{
            display: flex;
            flex-direction: column;
            align-items: center !important;
            margin: 0 auto; 
            justify-content: center !important;
            .card{
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 500px) {
    .conent_maindesc__container{
        .illustration{
            width: 80% !important;
        }
    }
    .header_container{
        .img_container{
            padding-left: 20px;
        }
    }
    .clientHelp{
        justify-content: center !important;
        .card{
            min-width: 240px;
        }
    }
}
