@media (max-width: 1380px) {
    .main_desc {
        background-size: 40%;
        background-position-x: 760px;
        background-position-y: 60px;
    }

    .main_desc .conent_maindesc__container__content {
        margin-top: 30px;
        flex-direction: column !important;
        align-items: flex-start;
    }
}

@media (max-width: 1250px) {
    .main_desc {
        background-size: 35%;
        background-position-x: 760px;
        background-position-y: 90px;
    }
}

@media (max-width: 1086px) {
    header {
        padding: 48px 20px;
    }

    .main_desc {
        background-size: 30%;
    }
}

@media (max-width: 1000px) {
    .conent_maindesc__container__content {
        max-width: 700px;
    }

    .main_desc {
        padding-top: 20px;
        padding-bottom: 340px;
        background-size: 40%;
        background-position-x: 560px;
        background-position-y: 290px;
    }

    .logo__container__content {
        max-width: 760px;
    }

    .logo__container__content .square_logo__container__content {
        justify-content: center !important;
        max-width: 660px;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3,
  .logo__container__content .square_logo__container__content .sec4,
  .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec6 {
        border-bottom: 1px solid #FFFFFF;
    }

    .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec6 {
        border-right: none !important;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3 {
        border-right: 1px solid #FFFFFF;
    }

    .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec6,
  .logo__container__content .square_logo__container__content .sec7 {
        border-right: 1px solid #FFFFFF;
    }

    .talk__container__content {
        margin-bottom: 100px;
        flex-direction: column !important;
        max-width: 80%;
    }

    .talk__container__content .desc {
        text-align: center;
    }

    .talk__container__content .btn_talk {
        margin-top: 60px;
        margin-right: 0 !important;
    }

    .footer__container__content {
        align-items: center !important;
        flex-direction: column-reverse !important;
        max-width: 80%;
    }

    .footer__container__content .leftMain_block {
        max-width: 100% !important;
        min-width: 100% !important;
        width: 100% !important;
        margin-top: 40px;
    }

    .footer__container__content .leftMain_block br {
        display: none;
    }

    .footer__container__content .seconds_blocks {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-content: center !important;
    }

    .footer__container__content .seconds_blocks .left_block {
        margin-right: 180px !important;
    }
}

@media (max-width: 862px) {
    .main_desc {
        background-size: 32%;
        background-position-x: 590px;
        background-position-y: 390px;
    }
}

@media (max-width: 527px) {
    .logo__container__content .desc {
        flex-direction: column !important;
    }

    .logo__container__content .desc br {
        display: none;
    }

    .logo__container__content .desc .second_desc {
        margin-top: 30px;
        text-align: center;
    }

    .logo__container__content .square_logo__container__content {
        max-width: 100% !important;
        flex-wrap: wrap !important;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3,
  .logo__container__content .square_logo__container__content .sec4,
  .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec6,
  .logo__container__content .square_logo__container__content .sec7 {
        border-bottom: 1px solid #FFFFFF;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3,
  .logo__container__content .square_logo__container__content .sec6,
  .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec7 {
        border-right: none !important;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3 {
        border-right: 1px solid #FFFFFF;
    }

    .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec6,
  .logo__container__content .square_logo__container__content .sec7 {
        border-right: 1px solid #FFFFFF;
    }
}

@media (max-width: 548px) {
    .main_desc {
        padding: 0;
        background-image: none;
        padding-bottom: 190px;
    }

    .main_desc h1 {
        width: 100%;
        padding: 0 !important;
        text-align: left !important;
        padding: 0px 20px;
        font-size: calc(16px + 9.6vw) !important;
    }
}

@media (max-width: 721px) {
    .conent_maindesc__container__content {
        max-width: none !important;
        padding: 0px 20px;
    }

    .conent_maindesc__container__content .desc {
        max-width: 40% !important;
        min-width: 80% !important;
        white-space: normal !important;
    }

    .conent_maindesc__container__content .desc h1 {
        white-space: normal !important;
    }

    .main_desc {
        width: 100% !important;
        background-size: 40%;
        background-position-x: 490px;
        background-position-y: 420px;
        background-size: 30%;
    }

    .talk {
        position: static !important;
    }

    .talk__container__content {
        margin: 0;
        max-width: 100%;
        margin-bottom: 100px;
    }

    .talk__container__content .desc {
        padding: 0px 50px;
        text-align: center;
    }

    .talk__container__content .desc br {
        display: none;
    }

    .talk__container__content .btn_talk {
        margin-top: 60px;
        margin-right: 0 !important;
    }

    .modal .modal_box {
        padding: 24px !important;
        overflow: auto;
        margin: 20px 0px !important;
        padding: 0 !important;
        max-width: 80%;
    }

    .modal .modal_box .form {
        padding: 50px;
        overflow: auto;
    }

    .modal .modal_box .form input {
        max-width: 400px !important;
        min-width: 200px !important;
    }

    .modal .modal_box .closeSpanDiv {
        position: fixed !important;
    }
}

@media screen and (max-width: 450px) {
    .modal_box {
        max-width: 90% !important;
    }
}

@media (max-width: 1240px) {
    .background_clients .background .talk__container {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }

    .background_clients .background .talk__container .desc {
        width: 100%;
        text-align: center;
    }

    .background_clients .background .talk__container .btn_talk {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 30px;
        width: 100%;
    }
}
/*clients*/
@media (max-width: 1023px) {
    .clientHelp {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .clientHelp .clientHelp__container__content {
        margin-top: 180px;
        margin-bottom: 212px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-direction: row;
    }

    .clientHelp .clientHelp__container__content .left_sec .card {
        margin-left: 0px;
    }
}

@media (max-width: 1100px) {
    .background_clients {
        width: 100%;
    }

    .background_clients .desc .our {
        width: 100%;
        text-align: center;
    }

    .background {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }

    .background .talk {
        left: 0;
    }

    .footer__container {
        left: 0 !important;
    }
}

@media (max-width: 935px) {
    .clientHelp .left_sec .legend h1 {
        font-size: 36px !important;
    }

    .clientHelp .left_sec .card {
        margin: 0;
        margin-right: 20px;
    }

    .clientHelp .right_sec {
        margin-left: 0;
    }

    .background .talk__container {
        width: 100%;
    }

    .background .talk {
        flex-direction: column;
    }

    .background_clients {
        width: 100%;
    }

    .logo_clients {
        display: flex;
        justify-content: center !important;
    }

    .logo_clients .desc {
        width: 100%;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .logo_clients .desc .our {
        margin-right: 0 !important;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    .logo_clients .desc .second_desc {
        width: 80%;
        padding: 0px 20px;
    }

    .logo_clients .square_logo__container {
        width: 70%;
    }

    .logo_clients .square_logo__container .sec2,
  .logo_clients .square_logo__container .sec6 {
        border-right: none !important;
        border-bottom: 1px solid #FFFFFF;
    }

    .logo_clients .square_logo__container .sec5 {
        border-bottom: 1px solid #FFFFFF;
    }
}

@media (max-width: 800px) {
    .clientHelp .clientHelp__container__content {
        flex-direction: column;
    }

    .clientHelp .left_sec {
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;
    }

    .clientHelp .left_sec br {
        display: none;
    }

    .clientHelp .left_sec .legend {
        width: 100%;
        margin-bottom: 40px;
    }

    .clientHelp .left_sec .card {
        margin-right: 0 !important;
        margin-top: 0px !important;
    }

    .clientHelp .left_sec .card br {
        display: none;
    }

    .clientHelp .card {
        width: 70%;
    }

    .clientHelp .card br {
        display: none;
    }

    .clientHelp .card .desc1 p {
        white-space: normal;
    }

    .background_footer {
        right: 0px;
    }

    .footer__container__content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center !important;
        left: 0 !important;
        padding-left: 0 !important;
    }

    .footer__container__content .leftMain_block {
        max-width: none !important;
        width: 90% !important;
        margin-right: 0 !important;
        margin-bottom: 0px;
        margin-right: 0;
        padding-left: 0;
    }

    .footer__container__content .leftMain_block .img_container {
        text-align: center;
        justify-content: center;
    }

    .footer__container__content .seconds_blocks {
        margin-right: 0 !important;
        left: 0 !important;
        justify-content: space-between !important;
        margin-bottom: 60px;
    }

    .footer__container__content .seconds_blocks .left_block {
        margin-right: 0px !important;
    }

    .logo__container__content {
        max-width: 90%;
    }

    .logo__container__content .square_logo__container__content {
        justify-content: center !important;
        max-width: 660px;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3,
  .logo__container__content .square_logo__container__content .sec4,
  .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec6 {
        border-bottom: 1px solid #FFFFFF;
    }

    .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec6 {
        border-right: none !important;
    }

    .logo__container__content .square_logo__container__content .sec1,
  .logo__container__content .square_logo__container__content .sec2,
  .logo__container__content .square_logo__container__content .sec3 {
        border-right: 1px solid #FFFFFF;
    }

    .logo__container__content .square_logo__container__content .sec5,
  .logo__container__content .square_logo__container__content .sec6,
  .logo__container__content .square_logo__container__content .sec7 {
        border-right: 1px solid #FFFFFF;
    }

    .content {
        max-width: 100% !important;
    }

    .talk {
        left: 0 !important;
    }
}

@media (max-width: 630px) {
    .conent_maindesc__container .desc {
        width: 100% !important;
        text-align: center;
    }

    .conent_maindesc__container .desc h1 {
        padding: 0px 20px;
        font-size: calc(16px + 4vw) !important;
    }

    .conent_maindesc__container .desc h4 {
        padding: 0px 20px;
        font-size: calc(12px + 0.3333333333vw) !important;
    }

    .conent_maindesc__container .desc .btn {
        display: flex;
        justify-content: center !important;
    }

    .square_logo__container {
        width: 40% !important;
    }

    .square_logo__container .sec1,
  .square_logo__container .sec3,
  .square_logo__container .sec5,
  .square_logo__container .sec7 {
        border-right: none !important;
    }

    .square_logo__container .sec7 {
        border-bottom: 1px solid #FFFFFF;
    }

    .leftMain_block br {
        display: block !important;
    }
}

@media screen and (max-width: 400px) {
    .clientHelp .clientHelp__container__content {
        max-width: none !important;
    }

    .clientHelp .clientHelp__container__content .card {
        min-width: 80% !important;
        max-height: none !important;
        width: 80% !important;
    }
}

@media (orientation: landscape) {
    .modal .modal_box {
        overflow: auto !important;
        padding: 40px !important;
        margin: 20px !important;
    }

    .modal .modal_box .form {
        overflow: auto;
    }
}