<footer>
    <div class="background_clients">
        <div class="logo_clients">
            <div class="logo__container">
                <div class="desc">
                    <div class="our">
                        <li>Our Beloved <br>Client</li>
                    </div>
                    <div class="second_desc">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br>
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br>enim ad minim veniam.</li>
                    </div>
                </div>
                <div class="square_logo__container">
                    <div class="logoSection sec1">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec2">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec3">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec4">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec5">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec6">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec7">
                        <li>LOGO CLIENT 1</li>
                    </div>
                    <div class="logoSection sec8">
                        <li>More Client</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="background">
            <div class="talk">
                <div class="talk__container">
                    <div class="desc">
                        <h1>Intersted to woek<br> with our team?</h1>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                                 sed do eiusmod tempor incididunt ut labore et dolore <br>magna aliqua. Ut enim ad minim veniam.</li>
                    </div>
                    <div class="btn_talk">
                        <button class="btn_talk_link">
                            Let’s Talk
                        </button>
                    </div>
                </div>
            </div>
            <div class="footer__container">
                <div class="leftMain_block">
                    <div class="img_container">
                        <img src="../../assets/images/logologo2.svg" alt="logo">
                        <h1>Afrianska</h1>
                    </div>
                    <ul>
                        <li>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>T. +62-812-7313-4321</li>
                        <li>E hello.afrian@gmail.com</li>
                    </ul>
                    <div class="copyright">
                        <h4>2019 © Afrianska. All rights reserved.</h4>
                    </div>
                </div>
                <div class="seconds_blocks">
                    <div class="left_block">
                        <h1>About us</h1>
                        <ul>
                            <a >About</a>
                            <a>What We Do</a>
                            <a>Project</a>
                            <a>How It Work With Us</a>
                        </ul>
                    </div>
                    <div class="right_block">
                        <h1>Follow US</h1>
                        <ul>
                            <a href="#">Instagram</a>
                            <a href="#">Facebook</a>
                            <a href="#"></a>
                            <a href="#">LinkedIn</a>
                            <a href="#">Youtube</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>