<div class="modal">
    <div class="modal_box">
        <div class="closeSpanDiv">
            <span class="close">&nbsp;</span>
        </div>
        <form class="form">
            <h1>SEND US MESSAGE</h1>
            <label>
                Full Name
                <input type="text" name="username" placeholder="Your Name" class="input nick">
            </label>
            <label>
                Email
                <input type="text" name="email" placeholder="Your Email" class="input email">
            </label>
            <label>
                Message
                <input type="text" name="text" placeholder="Your Message" class="input area">
            </label>
            <div class="btn_form">
                <button type="submit" class="btn_submit">SUBMIT</button>
            </div>
        </form>
    </div>
</div>